form.pet-form {
    width: 450px;
    height: 500px;
    padding: 20px;
}

@media (max-width: 1080px) {
    form.pet-form  {
        max-width: 400px;
        height: fit-content;
    }

    form > div:first-child {
        grid-column: span 1;
    }
}

@media (max-width: 400px) {
    form {
        display: flex !important;
        max-width: 350px;
    }
}

