* {
    margin: 0;
    padding: 0;
}

div.logo-picture {
    padding: 10px;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: end;
}

img.switching_logo {
    object-fit: contain;
    max-height: 60px;
    animation: drop .4s linear forwards .6s;
}

img.designed-logo {
    object-fit: contain;
    max-height: 175px;
    margin-right: 25px;
    animation: drop .4s linear forwards .6s;
}

@media (max-width: 500px) {
    img.designed-logo {
        display: none;
    }

    img.switching_logo {
        object-fit: contain;
        max-height: 175px;
    }
}

@keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }