* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    justify-content: center;
}

div.canvas {
    max-width: 1080px;
    min-height: 100vh;
    /* background-color: rgb(154, 252, 252); */
}

header{
    background-color: white;
    
    min-width: inherit;
    min-height: fit-content;
    /* background-color: rgb(66, 155, 155); */

    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: 80px 60px;
    /* justify-content: start; */
}
/* 
header::-webkit-scrollbar {
    position: sticky;
    top: 0;
} */

a {
    text-decoration: none;
}

header > ul.nav {
    grid-column: 1;
    /* height: 20px; */
}

header > form.search-form{
    height: 30px;
    grid-column: 4;
    align-self: center;

    grid-column: 7 /span 4;
}

main {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 6fr 5fr;
    /* grid-template-rows: 1fr 40px 40px; */
}

main  div.article-box  article {
    display: flex;
    flex-direction: column;
}

main article {
    padding: 10px 40px;
}

article > p:nth-last-of-type(1) {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

a.read-more-expandable {
    max-width: fit-content;
    align-self: center;
    background-image: linear-gradient(var(--bs-white), var(--bs-cyan));

}

div.readMore-collapse {
    padding: 0;
}

div.card-body {
    padding: inherit;
    margin: 0;
    background-color: inherit !important;
    border: none;
}

form.pet-form {
    margin: 40px;
    border: 3px solid var(--bs-cyan);
    border-radius: 0.3rem;
    background-clip: padding-box;
}
