* {
    padding: 0;
    margin: 0;
    color: var(--bs-gray-900);
}

html {
    position: relative;
}

body {
    display: grid;
    justify-content: center;
    background: rgba(0, 0, 0, 0.01)
    url("../imgs/cat_dog_bck_contrast.png"); /* The path start from the .css file location. In this case the [css] folder. */
    background-position: -250px 0;
    background-repeat: no-repeat;
    background-size: 150vh;
    overflow-y: scroll;
}

div.canvas {
    max-width: 1080px;
    min-height: 100vh;
}

header{    
    min-width: inherit;
    min-height: fit-content;
    /* background-color: rgb(66, 155, 155); */

    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: 80px 60px;
}

a {
    text-decoration: none;
}

header > ul.nav {
    grid-column: 1;
}

header > form.search-form{
    height: 30px;
    grid-column: 4;
    align-self: center;
    grid-column: 7 /span 4;
}

main {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 6fr 5fr;
}

main  div.article-box  article {
    display: flex;
    flex-direction: column;
}

main article {
    padding: 10px 40px;
    text-shadow: 0 0 8px rgb(201, 201, 201);
}

article > p:nth-last-of-type(1) {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

a.read-more-expandable {
    max-width: fit-content;
    align-self: center;
    background-image: linear-gradient(var(--bs-white), var(--bs-cyan));
}

div.readMore-collapse {
    padding: 0;
}

div.card-body {
    padding: inherit;
    margin: 0;
    background-color: inherit !important;
    border: none;
}

form.pet-form {
    margin: 40px;
    border: 3px solid var(--bs-cyan);
    border-radius: 0.3rem;
    background-clip: padding-box;
}
