* {
    margin: 0;
    padding: 0;   
}

ul.nav {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 500px) {
    ul.nav {
        display: flex;
        flex-direction: column;
    }

    ul > li {
        padding: 0.6rem 1 rem;
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

ul > li {
    text-align: center;
    padding-inline: 0.5rem;
}

a {
    color: var(--bs-gray-900) !important;
}

a.active {
    font-weight: normal !important;
}

a.active[href="#home"], a.nav-link[href="#home"]:hover {
    color: var(--bs-cyan) !important;
}

a.active[href="#cats"], a.nav-link[href="#cats"]:hover {
    color: var(--bs-pink) !important;
}

a.active[href="#dogs"], a.nav-link[href="#dogs"]:hover {
    color: var(--bs-blue) !important;
}

a.active[href="#birds"], a.nav-link[href="#birds"]:hover {
    color: var(--bs-primary-text-emphasis) !important;
}

a.active[href="#fish"], a.nav-link[href="#fish"]:hover {
    color: var(--bs-green) !important;
}

a.active[href="#small"], a.nav-link[href="#small"]:hover {
    color: var(--bs-orange) !important;
}

a.active[href="#faqs"], a.nav-link[href="#faqs"]:hover {
    color: var(--bs-indigo) !important;
}


.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
}