* {
    margin: 0;
    padding: 0;   
}

:root {
    --srch_btn_col: #0b76bf;
    --srch_btn_text_col: black;
    --srch_btn_hvr_text_col: white;
}

form {
    width: fit-content;
    display: flex;
    gap: 1rem;
    border:3px solid blue !important;
}

button.btn-outline-success {
    color: var(--srch_btn_col);
    border-color: var(--srch_btn_col);
    padding-inline: 15px;
}

button.btn-outline-success:hover {
    color: var(--srch_btn_hvr_text_col);
    border-color: var(--srch_btn_col);
    background-color: var(--srch_btn_col);
}