#canvas {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

main {
    height: 100vh;
    width: 1080px;
    margin: auto;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas: "header main"; 
}

.main {
    grid-area: main;
    background-color: green;
}


#ppp_logo {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 90px;
    height: 89px;
    /* grid-template-rows: minmax(20px, 1fr);
    grid-template-columns: minmax(20px, 1fr); */
}

/* nav {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 6;
    margin: 0;
    padding: 0;
} */

li {
    display: inline-block;
    list-style-type: none;
    /* text-align: center;     */
}

a {
    padding-bottom: 10px;
    color: red;

}

a.active {

    border-bottom: 3px solid blue;
}