ul.nav {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 870px) {
    ul.nav {
        display: flex;
        flex-direction: column;
    }

    ul > li {
        padding: 0.6rem 1rem;
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

ul.nav > li {
    text-align: center;
    padding-inline: 0.5rem;
}

ul.nav a {
    color: var(--bs-gray-900) !important;
}

ul.nav a.active {
    font-weight: normal !important;
}

ul.nav a.active[href="/main.html"], a.nav-link[href="main.html"]:hover {
    color: var(--bs-cyan) !important;
}

ul.nav a.active[href="/pages/cats.html"], a.nav-link[href="/pages/cats.html"]:hover {
    color: var(--bs-pink) !important;
}

ul.nav a.active[href="/pages/dogs.html"], a.nav-link[href="/pages/dogs.html"]:hover {
    color: var(--bs-blue) !important;
}

ul.nav a.active[href="/pages/birds.html"], a.nav-link[href="/pages/birds.html"]:hover {
    color: var(--bs-primary-text-emphasis) !important;
}

ul.nav a.active[href="/pages/fish.html"], a.nav-link[href="/pages/fish.html"]:hover {
    color: var(--bs-green) !important;
}

ul.nav a.active[href="/pages/small.html"], a.nav-link[href="/pages/small.html"]:hover {
    color: var(--bs-orange) !important;
}

ul.nav a.active[href="/pages/faqs.html"], a.nav-link[href="/pages/faqs.html"]:hover {
    color: var(--bs-indigo) !important;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
}